doctype html

html(lang='en')
	head
		title Figmaland
		link(rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon")
	body
		//- Sections
		block header
		block features 
		block cta 
		block newsletter 
		block partners 
		block testimonials 
		block pricing 
		block contact 
		block footer
		p Hello2